@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/*------------
Common Section
-------------*/
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
p{
  font-size: 16px;
  color: #6C6C6C;
  margin: 0;
}
button{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 168px;
  padding: 10px 24px;
  margin-top: 27px;
  font-size: 16px;
  background-color: tomato;
  border: none;
  cursor: pointer;
  transition: all 1s;
}
button:hover{
  background-color: rgba(255, 0, 0, 0.884);
  border-radius: 5px;
}
button a{
  text-decoration: none;
  color: white;
}
.fas.fa-arrow-right{
  margin-left: 8px;
  transition: all 0.5s ease-out;
}
button:hover a .fas.fa-arrow-right{
  transform: translate(8px, 0px);
}


/*------------------
First Section Starts 
--------------------*/

/* heading and button */

.copa-america{
  background-color: #2D25A0;
  height: 677px;
  display: flex;
  position: relative;
}
.main-heading{
  position: absolute;
  height: 230px;
  width: 485px;
  top: 207px;
  left: 156px;
  
}
.copa-america .main-heading h2{
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  color: white;
  margin: 0;
}

/* ----image section--- */
.copa-america .banner-image{
  position: absolute;
  top: 153px;
  right: 141px;
  height: 438px;
  width: 556px;
}
.copa-america .banner-image img{
  width: 100%;
  transition: all 0.5s;
}
.copa-america:hover .banner-image img{
  transform: translate(-100px) scale(1.1);
  opacity: 0.8;
}
/*------------------
First Section Ends 
--------------------*/

/*-------------- 
Players Section Starts
----------------*/
.players{
  position: relative;
  margin-top: 70px;
  display: grid;
  grid-template-rows: repeat(4, 474px);
  grid-template-columns: repeat(3, 330px);
  grid-row-gap: 30px;
  grid-column-gap: 27px;
  justify-content: center;
}
.players .player{
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.players .player .player-info{
  margin: 16px 0 0 0;
  overflow: hidden;
}
.players .player:hover .player-info{
  
  overflow-y: scroll;
}
.players .player img{
  width: 100%;
  margin: 0;
}
.players .player .player-info h3{
  margin: 0 0 10px 0;
  font-size: 28px;
  font-weight: 700;
}

/*-------------- 
Players Section Ends
----------------*/

/*----------------------------
Argentina Team Section Starts
------------------------------*/
.champion{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 160px;
  margin-bottom: 150px;
  padding: 0 10%;
}
.champion .argentina-article{
  width: 45%;
}
.champion .argentina-article img{
  width: 100%;
  margin-bottom: 20px;
}
.italy-article{
  width: 45%;
}
.champion .italy-article img{
  width: 100%;
  margin-bottom: 20px;
}
.champion .argentina-article h3{
  font-size: 30px;
}
.champion .argentina-article h3 span{
  color: grey;
  font-size: 20px;
}
.champion .italy-article h3{
  font-size: 30px;
}
.champion .italy-article h3 span{
  color: grey;
  font-size: 20px;
}

/*-------------------
Messi Section Starts
---------------------*/
.messi{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}
.messi h3{
  font-size: 30px;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 15px;
}
.messi p span{
  color: rgb(72, 192, 240);
}
.youtube-video{
  margin-top: 40px;
}
.messi .youtube-video iframe{
  width: 560px;
  height: 315px;
}

/*-----------------
Messi Section Ends 
-------------------*/

/*-----------
footer Starts
-------------*/
footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
footer .logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 213px;
  width: 483.87px;
}
footer .logo img{
  width: 100%;
  height: 110px;
  margin: 0;
}
footer .logo .icons{
  display: flex;
  margin: 20px 0px;
}
footer .logo .icons .icon{
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 32px 32px;
  border-radius: 50%;
  margin-right: 14px;
  background-color: rgba(128, 128, 128, 0.288);
  border-radius: 50%;
}
footer .logo .icons a{
  text-decoration: none;
  color: #969BAB;
  font-size: 17.07px
}
footer p{
  font-size: 18px;
  color: black;
}
/*---------
footer Ends
-----------*/

/*------------------------
responsive section starts
--------------------------*/
@media only screen and (min-width: 360px) and (max-width: 480px) {
  .players{
    position: relative;
    margin-top: 70px;
    display: grid;
    grid-template-rows: repeat(12, 474px);
    grid-template-columns: repeat(1, 330px);
    grid-row-gap: 24px;
    justify-content: center;
  }

  .champion{
    margin-top: 60px;
  }
  .champion .argentina-article{
    width: 100%;
  }
  .champion .italy-article{
    width: 100%;
  }

  .messi{
    padding: 10px;
  }
  .messi .youtube-video iframe{
    width: 330px;
    height: 185px;
  }
}